.container {
    margin: 0 auto;
    width: 600px;
    .centered-desktop();
}

nav{
    padding:20px 0;
    background-color:white;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    z-index:999;
    border:1px solid blue;
}